body{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background: url(pancakes.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    color:blue;
}

p{
    color:white;
    font-family: "Adobe Caslon Pro";
    font-size: 30px;
}

ul{
    font-size: 25px;
    color: whitesmoke;
}

h2{
    color: green;
}

.navbar {
    margin-left: -60px;
    overflow: hidden;
    background-color: #331;
    position: fixed;
    top: 0;
    width: 100%;
}


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover {
    background: #ddd;
    color: black;
}


.main {
    margin-top: 60px;
}


.row{
    margin: auto;
    width: 50%;
    border: none;
    padding: 50px;
    text-align: center;
}

.column:hover{
    opacity: 0.5;
}

.radio {
    border-radius: 50%;
    opacity: 0.8;
}
