<!DOCTYPE html>
<html lang="en">
<html lang="en" xml:lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Website</title>
</head>

<link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
<body>



<div class="navbar">
    <a class="active" href="#">Recipe Book</a>
    <a href="/recipespic">Recipe List</a>
    <a href="/crabcake">Crab cake</a>
    <a href="/cheesecake">CheeseCake</a>
    <a href="/tamales">Tamales</a>
</div>

<div class="main">
    <center><h1>Recipes Book</h1></center>
</div>








</body>
</html>

