<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
<body>

<div class="navbar">
    <a class="active" href="#">Recipe Book</a>
    <a href="/recipespic">Recipe List</a>
    <a href="/crabcake">Crab cake</a>
    <a href="/cheesecake">CheeseCake</a>
    <a href="/tamales">Tamales</a>
</div>


<div class="row">
    <div class="column">
        <a href="/cheesecake">
        <img src="cheesecake.jpg" alt="cheesecake" style="width:100%">
        </a>

        <a href="/cheesecake">
            <h2>Cheescake</h2>
        </a>


    </div>
    <div class="column">
        <a href="/crabcake">
        <img src="Crabcake-4.jpg" alt="crabcake" style="width:100%">
        </a>
        <a href="/crabcake">
            <h2>Crab cake</h2>
        </a>
    </div>



    <div class="column">
        <a href="/tamales">
            <img src="tamales.jpg" alt="tamales" style="width:100%">
        </a>
        <a href="/tamales">
            <h2>Tamales</h2>
        </a>
    </div>



</div>



</body>
</html>